/* Meeting Rooms */
.meeting-rooms {
  background-color: #2c454f;
  color: whitesmoke;
  text-align: center;
}

.meeting-rooms .table {
  color: whitesmoke;
}

.meeting-table tbody th {
  border-top: 1px solid #456b7a;
}

.meeting-table tbody td {
  border-top: 1px solid #456b7a;
}

.meeting-table tr th {
  text-align: left;
}

.meeting-table tr td {
  text-align: right;
}

.meeting-rooms hr {
  width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  border: 1px solid whitesmoke;
}

.inclusion {
  text-align: left;
}

