.list-unstyled {
  margin: 0 auto;
  max-width: 265px;
  text-align: left;

  li {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .media img {
    height: 1.5rem;
    opacity: .8;
    width: 1.5rem;
  }
}

