.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App__main {
  flex: 1;
}

.footer {
  background-color: #2c454f;
  bottom: 0;
  height: 2rem;
  position: absolute;
  text-align: center;
  width: 100%;
}
.footer span {
  color: white;
  font-family: sans-serif;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-shadow: rgba(0, 0, 0, 0.2);
}

.footer span a {
  color: white;
  font-family: "Merriweather", serif;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: none;
}

/* Media Queries */
@media (max-width: 767px) {
  .md-navlinks {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    left: 0;
    margin-bottom: 0;
    max-width: 47.9375rem;
  }

  /* Map Stuff */
  .mapouter {
    max-height: 18.75rem;
  }

  .gmap_canvas {
    max-height: 18.75rem;
  }

  /* Gallery */
  .fullwidth-gallery {
    display: none;
  }

  .about-wrapper {
    margin-bottom: 2.5rem;
  }

  .about-wrapper p {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .list-group-item {
    font-size: 1rem;
    padding: 1rem 0 1rem 0.8rem;
  }

  .socials .fab {
    font-size: 2rem;
  }
}

@media (max-width: 335px) {
  .btn {
    font-size: 1rem;
  }

  .socials .fab {
    font-size: 1.5rem;
  }
}
